@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #16222C;
  color: #FFFFFF;
  padding: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

h1 {
  margin-top: 20;
  color: #9DEFBF;
  text-align: center;
}

.converter-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 650px;
  background-color: #16222C;
  padding: 20px;
}

.converter-section {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.converter-input,
.converter-output {
  width: 300px;
  height: 400px;
  margin-bottom: 10px;
}

.converter-output {
  background-color: #9DEFBF;
  color: #16222C;
}

.converter-button {
  background-color: #0C369E;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width: 680px) {
  .converter-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .converter-section {
    width: 90%;
  }

  .converter-input,
  .converter-output {
    width: 90%;
    margin-bottom: 20px;
    height: 200px;
  }

  .converter-button {
    width: 90%;
  }
}